#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CANUTILS_LIBCANARDV1
	bool "libcanard UAVCAN v1 Library"
	default n
	depends on NET_CAN
	---help---
		Enable the libcanard UAVCAN v1 library.

if CANUTILS_LIBCANARDV1

config LIBCANARDV1_URL
	string "libcanard URL"
	default "https://github.com/UAVCAN/libcanard/archive"
	---help---
		libcanard URL.

config LIBCANARDV1_VERSION
	string "libcanard Version"
	default "cde670347425023480a1417fcd603b27c8eb06c1"
	---help---
		libcanard version.

endif
